<!DOCTYPE html>
<html>
<head>
    <title>Famous Movie Quotes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>
    <link href="/styles/detailQuote.css" rel="stylesheet">
</head>
<body>
<h1 class="h1">Edit Quote: "{{ quote.getQuote }}":</h1>
<form method="post" action="{{ path('editQuote', {'id': quote.getId}) }}">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Quote:</span>
        </div>
        <input type="text" class="form-control" name="quote" value="{{ quote.getQuote }}">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Character:</span>
        </div>
        <input type="text" class="form-control" name="character" value="{{ quote.getCharacter }}">
    </div>
    <button class="btn btn-warning" type="submit">EDIT</button>
    <a class="btn btn-dark"
       href="{{ path('listMovies') }}"
       role="button">BACK</a>
</form>
<p class="lead">Film: {{ quote.getMovie.getName }}</p>
</body>
</html>